.cart {
  display: flex;
  align-items: center;
  gap: 60%;
}

.cart-img {
  width: 150px;
  height: 150px;
}
.count-section {
  display: flex;
  gap: 2rem;
}
.price {
  position: relative;
  left: 59%;
}
.cart-section {
  overflow-x: hidden;
}
