.cart {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cart-img {
  width: 150px;
  height: 150px;
}
.count-section {
  display: flex;
  gap: 2rem;
}
.price {
  position: relative;
  right: -68%;
}
