@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  gap: 5rem;
  align-items: center;
  margin-right: 1.5rem;
}
.nav-link {
  color: red;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 1.5rem;
}
