@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 5rem;
  align-items: center;
  margin-right: 1.5rem;
}
.nav-link {
  color: rgb(209, 82, 82);
  text-decoration: none;
  font-size: 1rem;
  margin: 0.5rem;
}
.count {
  position: relative;
  top: -30px;
  right: -30px;
}
.logo {
  width: 8rem;
  background-color: red;
  position: relative;
  animation: rotation 8s infinite linear;
  left: 1rem;
}
ul {
  list-style: none;
}
li button {
  border: none;
}
.dropdown {
  position: relative;
  left: -2.5rem;
}
.dropdown-menu {
  position: fixed;
  border: none;
}
.dropdown-toggle {
  border: none;
  font-size: 1rem;
  letter-spacing: 2px;
  color: rgb(219, 31, 31);
}
.l {
  position: relative;
  left: -2rem;
}
.links-container {
  display: flex;
  gap: 1rem;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.log-btn {
  border: none;
  font-size: 2rem;
  color: red;
  background-color: transparent;
}

@media screen and (max-width: 1268px) {
  .navbar {
    gap: 0rem 1rem;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  .count {
    top: -30px;
    right: -30px;
  }

  .log-btn {
    font-size: 2rem;
  }
  .search {
    display: flex;
    padding: 1rem;
  }
}
@media screen and (max-width: 855px) {
  .logo {
    width: 8rem;
    background-color: red;
    position: relative;
    animation: rotation 8s infinite linear;
  }
}
@media screen and (max-width: 855px) {
  .search {
    display: flex;
    padding: 0.5rem;
    height: 1.5rem;
    width: 8rem;
    position: relative;
    left: -1rem;
  }
  .dropdown {
    position: relative;
    left: -1.5rem;
  }
  .logo {
    width: 3rem;
    position: relative;
    top: -1.5rem;
  }
}

@media screen and (max-width: 585px) {
  .dropdown {
    padding-bottom: 5rem;
  }
  .navbar {
    margin: 1rem;
  }
}
